@use "../../../../styles/variables" as *;
@use "sass:color";

.footer {
  background: $primary-color;
  color: $text-inverse;
  padding: 3rem 1.5rem 1rem;
  font-family: "Inter", sans-serif;
  width: 100%;

  .footer__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2.5rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .footer__col {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: #fff;
      font-weight: 600;
    }

    p {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      opacity: 0.85;

      svg {
        font-size: 1.1rem;
      }
      @media (max-width: 768px) {
        justify-content: center;
      }
    }
  }

  .footer__logo {
    width: 160px;

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  .footer__desc p {
    margin: 0;
  }

  .footer__frase {
    margin-top: 0.5rem;
    font-style: italic;
    opacity: 0.9;
  }

  .footer__social {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      justify-content: center;
    }

    a {
      font-size: 1.3rem;
      color: #fff;
      opacity: 0.8;
      transition: 0.3s;

      &:hover {
        opacity: 1;
        transform: scale(1.15);
      }
    }
  }

  .footer__bottom {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
