/* ui/_buttons.scss */
@use "../core/variables" as *;
@use "../core/mixins" as *;
@use "sass:color";

.btn {
  @include button-base;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  padding: 8px 14px;
  font-size: 0.85rem;
  font-weight: 500;

  border-radius: $border-radius-sm;
  border: none;
  cursor: pointer;

  transition: background 0.2s ease;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-primary {
  background: $primary-color;
  color: #fff;

  &:hover {
    background: color.adjust($primary-color, $lightness: 6%);
  }
}

.btn-secondary {
  background: $gray-200;
  color: $text-color;

  &:hover {
    background: $gray-300;
  }
}

.btn-icon {
  color: $primary-color;
  font-size: 1rem;
  &:hover {
    color: color.adjust($primary-color, $lightness: 6%);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}
.btn-danger {
  background: $error-color;
  color: #fff;
}
