@use "../../../../styles/variables" as *;
@use "sass:color";

.header {
  width: 100%;
  background-color: #fff;
  // border-bottom: 2px solid color.adjust($primary-color, $lightness: 30%);
  padding: 0.75rem 1.5rem;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1200px, 100%);
    margin: 0 auto;
  }

  .header__logo img {
    height: 80px;
    width: auto;
  }

  .header__social {
    display: flex;
    gap: 1.2rem;

    a {
      color: $primary-color;
      font-size: 1.25rem;
      transition: color 0.2s ease;

      &:hover {
        color: color.adjust($primary-color, $lightness: -10%);
      }
    }
  }

  @media (max-width: 768px) {
    .header__container {
      flex-direction: column;
      gap: 0.5rem;
    }

    .header__social {
      gap: 1rem;
    }
  }
}
