// ======================================
// ARCHIVO PRINCIPAL DE ESTILOS
// ======================================

@use "./fonts";
@use "./variables";
@use "./mixins";
@use "./reset";
@use "./typography";
@use "./global";
@use "./variables" as *;

body {
  background-color: #fff;
  font-family: $font-primary;
}
