@use "../../styles/variables" as *;

.home {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // padding: 3rem 1.5rem;

  .home__intro {
    margin-top: 3rem;
    max-width: 800px;

    h1 {
      font-family: "Advent Sans", sans-serif;
      color: $primary-color;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-family: "Noto Sans", sans-serif;
      color: $text-color;
      font-size: 1.2rem;
    }
  }
}
