@use "../../styles/variables" as *;

.layout {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 100vh;
  font-family: $font-primary;
  color: $color-text-primary;
  background-color: $color-surface;

  .content {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sabbath-column {
    background-color: $color-surface-inverse;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .logo {
      width: 80%;
      max-width: 180px;
    }
  }

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;

    .sabbath-column {
      display: none;
    }
  }
}
