@use "../../styles/variables" as *;

.footer {
  text-align: center;
  padding: 1.5rem;
  background-color: $primary-color;
  font-size: 0.9rem;

  a {
    color: #fff;
    text-decoration: underline;
  }

  p {
    color: $gray-100;
  }
}
