@use "sass:color";
@use "../../styles/variables" as *;

.mapworld {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 2rem;

  .map-container {
    flex: 1;
    min-width: 300px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .info {
    flex: 1;
    min-width: 250px;
    padding: 2rem;
    background-color: color.adjust($primary-color, $lightness: 48%);
    color: color.adjust($primary-color, $lightness: 20%);

    h2,
    h3 {
      color: $primary-color;
    }

    p {
      margin: 0.5rem 0;
    }
  }
}
