.gallery {
  padding: 2rem 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
  }

  &__grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    width: 100%;
    aspect-ratio: 1 / 1; // cuadrado perfecto
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
