@use "../../../styles/core/variables" as *;
@use "../../../styles/core/mixins" as *;
@use "../../../styles/ui/forms" as *;
@use "../../../styles/ui/data-table" as *;

@use "./variables";
@use "./base";
@use "./boards";
@use "./votes";
@use "./attendance";
@use "./attendance-selector";

.secretaria-layout {
  padding: 24px;
}
