// src/admin/styles/sidebar.scss
@use "./core/variables" as *;
@use "./core/mixins" as *;
@use "./ui/buttons" as *;

.sidebar {
  width: 240px;
  background: $primary-color;
  color: #fff;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .user-info {
    margin-bottom: 2rem;

    .name {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .role {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: #fff;
      text-decoration: none;
      font-size: $text-md;
      padding: 0.7rem 1rem;
      border-radius: 8px;
      transition: background 0.2s;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      &.active {
        background: rgba(255, 255, 255, 0.35);
      }
      /* =========================
       LINK DESHABILITADO
       ========================= */
      &.disabled {
        opacity: 0.45;
        cursor: not-allowed;
        pointer-events: none;
        background: transparent;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  .nav-link.disabled::after {
    content: " · próximamente";
    font-size: 0.75rem;
    opacity: 0.8;
  }

  .logout-btn {
    @include button-base;
    background: rgba(0, 0, 0, 0.2);
  }
}
/* ============================
   Submenús para Administración
   ============================ */

.menu-title {
  margin: 1.5rem 0;
  font-size: $text-lg;
  font-weight: 600;
  color: $gray-400;
  text-align: center;
  padding-left: 0.5rem;
  text-transform: uppercase;
}

.menu-group {
  margin-bottom: 1rem;

  span {
    display: block;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  ul {
    list-style: none;
    margin-top: 0.3rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    li a {
      padding: 0.5rem 0.8rem !important;
      font-size: 0.9rem;
      border-radius: 6px;

      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }

      &.active {
        background: rgba(255, 255, 255, 0.35);
      }
    }
  }
}
