@use "../styles/core/variables" as *;
@use "../styles/core/mixins" as *;

.users-tab {
  max-width: 1000px;
  margin: 0 auto;
}

.users-form {
  max-width: 900px;
}

/* ======================
   UTILIDADES
====================== */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-backdrop {
  position: fixed;
  inset: 0; // top:0 right:0 bottom:0 left:0
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}
