.users-panel {
  h2 {
    margin-bottom: 1.5rem;
  }
}

.users-form {
  &.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  select {
    width: 100%;
    padding: 0.6rem;
  }
  label {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.3rem;
    &input {
      width: 1rem;
      margin-right: 0.5rem;
    }
  }
}
// Contenedor de botones
.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    padding: 0.7rem 1.2rem;
  }
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;

  button {
    padding: 0.7rem 1.2rem;
    background: #dfe3e8;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.active {
      background: #2c3e50;
      color: white;
    }
  }
}

.tab-content {
  margin-top: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;

  input {
    padding: 0.6rem;
  }
}

.data-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.7rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }

  .actions svg {
    cursor: pointer;
    margin-right: 0.6rem;
  }

  .edit {
    color: #2980b9;
  }
  .delete {
    color: #c0392b;
  }
}
.no-permission {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  color: #e74c3c;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
